html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Strings Of Music
    link(rel="stylesheet" type="text/css" href="../static/about.css")
    // fontawesome.cdn for ICONS
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    // animatecss.cdn for ANIMATION
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css")
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.jpg")
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/contact") Contact Us]
    section.landing-hero-wrapper
      .landinghero
        .landinghero-bg.pinkbg
        .landinghero-content
          h1 STRINGS
          span
            h3
              | of 
              hr
            h2 MUSIC
          .landing-bottomleft_deco
            span
          img(src="/static/img/me.jpg")
    section.graybg
      .width-wrapper
        h2.slash-deco quick facts
        ul
          li I&rsquo;m a born and bred Indian
          li I&rsquo;m passionate towards listening and singing music
          li
            | Every ambition I had as a little girl actually came true, my mom is still in shock
          li I write creative scripts and sing music
          li I&rsquo;m passionate about life and work for Strings Of Music
    section
      .width-wrapper
        h3.gray2 A Little More
        p.para
        | Music is one of the most important and powerful things in my life. My life without melodies and harmonies would be totally empty. Listening to and playing different tunes helps me to de-stress, relax and it can also help to motivate me in trying times. I love listening to music while on my way to school, as I feel it helps me to prepare for the day that waits. I think it is like the memoirs to my life as it has been there throughout everything with me.
        p.para
        | When I was younger, I didn&rsquo;t have the great love for musical as I do now. I mainly listened to whatever was playing in the background or what my parents were listening to. I didn&rsquo;t have much of a care for musical compositions. There was sometimes a little bit of pop music thrown in to the mix here and there, but that&rsquo;s really all I liked back then. Whether I was in the car, the house, or anywhere else there was sure to be some Beatles, Buddy Holly, or the Dubliners constantly playing somewhere in the background. At the time I didn&rsquo;t care for that genre of music much, but now as I&rsquo;m older, I enjoy it as it allows me to reminisce on memories from times of my childhood. Once I hit my teenage years music became my life and gradually started to inhibit my soul.
        p.para
        | I believe music has the ability to convey all sorts of emotion. Whether the emotion is joy and happiness or sadness and despair through rhythms, harmonies and the lyrics music shows it. The song &ldquo;A little bit longer&rdquo; by Nick Jonas is such an emotional and inspiring song that when I hear it, I always come close to tears, especially when I watch it being played live. The effect that music can have on our emotions is tremendous, as it can bring people to floods of tears or bursts of laughter.
        p.para
        | The musical images that music and song are able to create are amazing. Music has the ability to transport me back in time just like a time machine. It lets me revisit lost and forgotten moments in life. Songs can paint a picture, for example in classical and country music where a story is being told. The music in classical music tells a story without lyrics which is an immensely powerful thing. I feel that this applies to the saying &ldquo;music imitates life and life imitates music&rdquo;.

        p.note.graybg
          b Founder:
          br
          |  Swapnil Singh 
          br
          |  Co-Founder and CEO Strings Of Music
          br
          |  Delhi-NCR, India
    footer.darkbg
      h1 LET&rsquo;S CONNECT
      .social-wrapper
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/95802/twitter_white.svg" alt="Twitter")
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/95802/insta_white.svg" alt="Instagram")